<h1 id="h1" class="pageTitle">Contact Us</h1>
   <br />
    <p class="contentParagraphs">Telephone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1(800)757-8392</p>
    <p class="contentParagraphs">Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(703)772-5181</p>
    <p class="contentParagraphs">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:bgetahun@gmu.edu">Lapiz@gmu.edu</a></p>
    <p class="contentParagraphs">Location:</p>
    
    <div style = "margin-left: 20px;">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=George+Mason+University+Hillel,+University+Drive,+Fairfax,+VA&amp;aq=0&amp;oq=George+Mason+&amp;sll=38.852244,-77.301838&amp;sspn=0.056415,0.077162&amp;ie=UTF8&amp;hq=George+Mason+University+Hillel,+University+Drive,+Fairfax,+VA&amp;hnear=&amp;radius=15000&amp;t=m&amp;z=13&amp;iwloc=A&amp;cid=13231879852310481317&amp;ll=38.832194,-77.308037&amp;output=embed">
      </iframe>
      <br />
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=George+Mason+University+Hillel,+University+Drive,+Fairfax,+VA&amp;aq=0&amp;oq=George+Mason+&amp;sll=38.852244,-77.301838&amp;sspn=0.056415,0.077162&amp;ie=UTF8&amp;hq=George+Mason+University+Hillel,+University+Drive,+Fairfax,+VA&amp;hnear=&amp;radius=15000&amp;t=m&amp;z=13&amp;iwloc=A&amp;cid=13231879852310481317&amp;ll=38.832194,-77.308037" style="color:#0000FF; text-align:left">View Larger Map</a>
    </div>

    <h3>Submit a Question </h3>
<form method="post" action="add.php">
    <h2> Email: <input type="text" name="Email" placeholder="Email"/></h2>
    <br/>
    <br /> 
    <h2> Subject: <input type="text" name="Subject" placeholder="Subject" /></h2>
    <br/>
    <br />
    <h2> Question:</h2>
    <textarea name="Question" cols="30" align="center" color="green" rows="3" placeholder="Question"></textarea>
    <br />
    <input id="submit" type="submit" value="Sign" />
    <input id="clear" type = "reset" value="Reset Form" />
</form>