:host {
	--input: #CAD6E6;
	--checked: #B3C4DB;
}

/*Edit User*/
	section > *:not(label) {
		font-size: .9em;
		border-color: var(--input);
	}
	label {
		margin-bottom: 10px;
		font-size: initial;
	}
	section input {
		border-bottom: .9px solid #CCC;
		width: 240px;
	}
	section > *:not(label):focus, section input:focus {
		border-color: var(--checked);
	}
	textarea {
		width: 430px;
		height: 100px;
	}
	button {
		display: block;
		text-align: center;
		cursor: pointer;
		color: var(--main-color);
	}
	button[type="submit"] {
		padding: 12px 30px;
		border: 1px solid var(--input);
	}
	button[type="submit"] {
		width: 120px;
	}
	button[type="submit"]:hover {
		border-color: var(--checked);
		background: var(--checked);
		color: #FFF !important;
	}