:host {
	--input-border: #B3C4DB;
	--checked: #B3C4DB;
}

/*Edit User*/
	section > *:not(label) {
		font-size: .9em;
		border-color: var(--input-border);
	}
	.right-container {
		padding-bottom: 50px;
	}
	label {
		margin-bottom: 10px;
		font-size: initial;
	}
	section input {
		border-bottom: .9px solid #CCC;
		width: 240px;
		font-weight: 400;
	}
	section > *:not(label):focus, section input:focus {
		border-color: var(--checked);
	}
	select {
		background: transparent;
		border: 1px solid var(--input-border);
		width: 240px;
		padding: 6px 0;
		text-indent: 5px;
	}
	textarea {
		width: 430px;
		height: 100px;
	}
	button {
		display: block;
		text-align: center;
		cursor: pointer;
		color: var(--main-color);
	}
	button[type="submit"] {
		padding: 12px 30px;
		border: 1px solid var(--input-border);
	}
	button[type="submit"] {
		width: 120px;
	}
	button[type="submit"]:hover {
		border-color: var(--checked);
		background: var(--checked);
		color: #FFF !important;
	}