.user-container {
  width: 400px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 20px;
  transition: all 0.2s;
  color: #ddd;
}

.user-container li {
  list-style-type: none;
}

.user-left {
  margin: 0px 10px;
}

.user-picture-container {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.user-picture {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}
