/*Header*/
header {
  padding: 30px 0 18px 0;
  width: 100%;
  border-bottom: 2px solid var(--main-color);
}
header img {
  vertical-align: top;
  margin-top: -15px;
  width: 150px;
}
nav {
  justify-content: space-between;
}
form, nav li:not(:last-of-type) {
  margin-right: 50px;
}
nav ul {
  list-style: none;
}
nav li:last-of-type {
  margin-right: 28px;
}
nav a {
  font-weight: 400;
}
.login,
.signout {
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  padding: 5px;
}
.login:hover,
.signup:hover {
  color: #ddd;
}
@media screen and (max-width: 700px) {
  .flex-container {
    justify-content: center;
  }
  ul, form {
    margin: 20px 0 30px 0;
  }
  nav li:last-of-type {
    margin-right: 0;
  }
}
@media screen and (min-width: 700px) and (max-width: 950px) {
  .flex-container {
    justify-content: space-between;
  }
  div.flex-container {
    display: block;
  }
  ul, form {
    margin: 20px 0 30px 0;
  }
}