<div class="app-navbar">
  <div class="link-container">
    <div class="nav-left">
      <a *ngIf="!loggedin" class="logo" routerLink="">Lapis</a>
      <a *ngIf="loggedin" class="logo" routerLink="profile">Lapis</a>
    </div>
    <ul class="nav-right">
      <li>
        <input
          class="nav-searchbar"
          type="search"
          placeholder="Search Lapis"
        />
      </li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li *ngIf="loggedin" ><a routerLink="profile">Profile</a></li>
      <li *ngIf="!loggedin" ><a class="login" routerLink="login">Login</a></li>
      <li *ngIf="loggedin" ><a class="signout" (click)="signOutUser()">Signout</a></li>
    </ul>
  </div>
</div>