<header class="app-navbar">
  <nav class="flex-container">
    <a routerLink="/login" *ngIf="!loggedin"><img src="/assets/images/logo.png" alt="lapiz"></a>	
    <a routerLink="/users" *ngIf="loggedin"><img src="/assets/images/logo.png" alt="lapiz"></a>				
    <div class="flex-container">
      <form method="post" id="searchbar">
        <input type="search" name="search" id="search" placeholder="Search..." required>
      </form>
      <ul class="flex-container">
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li *ngIf="loggedin"><a routerLink="profile">Profile</a></li>
        <li *ngIf="!loggedin"><a class="login" routerLink="login">Login</a></li>
        <li *ngIf="loggedin"><a class="signout" (click)="signOutUser()">Signout</a></li>
      </ul>
    </div>
  </nav>
</header>