  <div class="login-container">
    <form [formGroup]="loginForm" method="get" id="login">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        title="Please enter your e-mail."
        maxlength="60"
        formControlName="email"
        class="form-control"
      />
      <br><br><br>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        formControlName="password"
      />
      <br /><br /><br />
      <button
        type="submit"
        id="submit"
        name="submit"
        (click)="doLogin(loginForm.value)"
        class="btn btn-default"
      >
        Log In
      </button>
      <div class="message">
        <p *ngIf="loginSuccess == true">Successfully logged in</p>
        <p *ngIf="loginSuccess == false">There was an error trying to log you in.</p>
      </div>
      <p id="sign-up">Don't have an account? <a routerLink="/signup">Sign up</a></p>
    </form>
  </div>