<div class="main-container">
    <div class="section-container userprofile-container">
        <div class="user-profile">
          <div class="picture-container">
            <img class="profile-picture" src="{{ profile.picture }}" />
          </div>
          <div class="profile-name">
            <p>{{ profile.firstName }} {{ profile.lastName }}</p>
          </div>
          <div class="settings-container">
            <div class="search-container"><input class="friend-search" placeholder="Friend search..." /></div>
            <h3 class="setting-header">SETTINGS</h3>
            <ul class="settings-list">
              <li><a href="#">Account Settings</a></li>
              <li><a href="profile-customization/editprofile.html">Profile Customization</a></li>
            </ul>
            <h3 class="setting-header">FRIENDS</h3>
            <ul class="settings-list">
              <li><a routerLink="/friends">Friends List</a></li>
            </ul>
          </div>
          </div>
    </div>

    <div class="right-container">
        <div class="section-container edit-profile">
            <div class="edit-profile">
                <h1>Edit Profile</h1>
                <form action="../profile.component.html">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname" value=""><br>
                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname" value=""><br>
                    <label for="email">Email address:</label>
                    <input type="text" id="email" name="email" value=""><br>
                    <label for="hobbies">Hobbies:</label>
                    <input type="text" id="hobbies" name="hobbies" value=""><br>
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" value=""><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
