<div class="body-container">
    <main>
        <form method="post" id="searchbar">
            <header>
                <h1 routerLink="/">lapis</h1>
            </header>
            <section>
                <input type="text" name="search" id="search" placeholder="Search...">
                <div>
                    <input type="radio" name="category" id="interests" value="interests">
                    <label for="interests" class="far fa-list-alt" title="Interests"></label>
                    <input type="radio" name="category" id="users" value="users">
                    <label for="users" class="far fa-user" title="Users"></label>
                    <input type="radio" name="category" id="locations" value="locations">
                    <label for="locations" class="far fa-compass" title="Location"></label>
                </div>
            </section>
        </form>
        <table>
            <tbody>
            </tbody>
        </table>
        <div id="results"></div>
        <form method="post" id="advancedSearch">
            <label>Gender</label><br><br>
            <label class="container">Female
                <input type="radio" name="gender" value="F" required>
                <span class="checkmark"></span>
            </label>
            <label class="container">Male
                <input type="radio" name="gender" value="M" required>
                <span class="checkmark"></span>
            </label>
            <div id="ageContainer">
                <label for="age">Age</label>: <input type="text" id="age" readonly>
                <input type="hidden" name="min">
                <input type="hidden" name="max">
                <br>
                <div id="slider-range"></div>
            </div>
            <br><br>
            <label>Ethnicities</label><br><br>
            <div class="options">
                <input type="checkbox" name="ethnicities" id="AA" value="African American">
                <label for="AA">African American</label>
                <input type="checkbox" name="ethnicities" id="AS" value="Asian">
                <label for="AS">Asian</label>
                <input type="checkbox" name="ethnicities" id="HS" value="Hispanic">
                <label for="HS">Hispanic</label>
                <input type="checkbox" name="ethnicities" id="NA" value="Native American">
                <label for="NA">Native American</label>
                <input type="checkbox" name="ethnicities" id="NH" value="Native Hawaiian">
                <label for="NH">Native Hawaiian</label>
                <input type="checkbox" name="ethnicities" id="PA" value="Pacific">
                <label for="PA">Pacific</label>
                <input type="checkbox" name="ethnicities" id="W" value="White">
                <label for="W">White</label>
                <input type="checkbox" name="ethnicities" id="A" value="Any">
                <label for="A">Any</label>
            </div>
            <br>
            <label for="interests">Interests</label><br><br>
            <div class="options">
                <input type="checkbox" name="interests" id="B" value="Baking">	
                <label for="B">Baking</label>					
                <input type="checkbox" name="interests" id="CK" value="Cooking">
                <label for="CK">Cooking</label>	
                <input type="checkbox" name="interests" id="R" value="Reading">		
                <label for="R">Reading</label>			
                <input type="checkbox" name="interests" id="S" value="Skiing">
                <label for="S">Skiing</label>	
                <input type="checkbox" name="interests" id="V" value="Volleyball">	
                <label for="V">Volleyball</label>	
                <input type="checkbox" name="interests" id="Z" value="Zip Lining">	
                <label for="Z">Zip Lining</label>		
            </div>
            <br>
            <label>Religions</label><br><br>
            <div class="options">
                <input type="checkbox" name="religions" id="CA" value="Catholic">
                <label for="CA">Catholic</label>
                <input type="checkbox" name="religions" id="CH" value="Christian">
                <label for="CH">Christian</label>
                <input type="checkbox" name="religions" id="Any" value="Any">
                <label for="Any">Any</label>
                <input type="hidden" name="religions">
            </div>
            <br>
            <div class="quantity">
                <label for="miles">Distance within:</label>&nbsp;&nbsp;
                <button type="button" id="minus">&ndash;</button><input type="number" min="1" step="1" id="miles" name="miles" placeholder="15"><button type="button" id="plus">&#65291;</button>			
                &nbsp;miles
            </div>
            <br><br><br>
            <button type="reset">Clear</button>
            <button type="submit" id="submit" name="submit">Search</button>
        </form>
    </main>
    <br><br><br>
</div>