.main-container {
  display: grid;
  grid-template-areas:
    "profile suggestions"
    "profile friends";
  grid-template-columns: minmax(200px, 1fr) 85%;
  height: calc(100vh - 100px);
  background-color: #f4f6fa;
}

.section-header {
  font-weight: 400;
  color: var(--main-color);
  text-align: left;
}

.section-container {
  padding: 50px 0px;
}

.section-container li {
  list-style-type: none;
  padding: 20px;
}

.section-container li:hover {
  background-color: #ecf3fc;
  border-left: 6px solid var(--main-color);
}

.section-container li:hover a {
  color: var(--main-color);
}

.section-container a {
  color: #888;
  text-decoration: none;
}

.userprofile-container {
  grid-area: profile;
  background-color: #fff;
}

.user-profile {
  margin-top: 50px;
}

.picture-container {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-picture {
  position: absolute;
  max-width: 100%;
  bottom: 0;
}
.profile-name {
  color: var(--main-color);
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}

.search-container {
  text-align: center;
}

.friend-search {
  margin: 20px 0px;
  font-size: 15px;
  padding: 10px;
  height: 20px;
  background-color: none;
  border-radius: 25px;
  border: 2px solid var(--main-color);
}

.friend-search:focus {
  outline: none;
  border-bottom: 2px solid var(--main-color);
}

.setting-header {
  color: var(--main-color);
  font-size: 14px;
  margin: 15px 10px;
}

.settings-container {
  width: 100%;
  margin: 0 auto;
}

.userlist-container {
  display: flex;
  flex-wrap: wrap;
  grid-area: friends;
}

.suggestion-container {
  grid-area: suggestions;
}

.right-container {
  padding: 50px;
}

@media (max-width: 800px) {
  .section-container {
    margin: 0 auto;
  }
  .userlist-container {
    margin: 0 auto;
  }
}
