:host {
  --input-border: #96C8DA;
  --input-circle: #96C8DA;
  --checked: #96C8DA;
}
section {
  padding: 20px 40px 0 40px;
}
.form-container {
  margin-top: 40px;
}
.form-container input {
  margin-top: 20px;
  border-bottom: 0.75px solid #c3c3c3;
  width: 300px;
}
.form-container > div {
  margin-top: 30px;
  margin-right: 50px;
  min-width: 300px;
}
#last {
  display: none;
}
button {
  min-width: 150px;
  padding: 13px 38px;
}
#submit {
  display: none;
}
button[type="submit"] + span {
  font-weight: 300;
  margin-left: 15px;
}