/* You can add global styles to this file, and also import other style files */

/*
* This is a global CSS file that will be applied to the entire application
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500|Raleway:300,400,500&display=swap");

:root {
  --main-color: #26619C;
}

* {
  /*font-family: "Nunito", sans-serif;*/
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html,
body {
  font-weight: 300;
  height: 100%;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
html,
body,
input,
button {
  font-family: Poppins;
}
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #707070;
}
form a,
footer a {
  font-weight: 400;
}
h1,
h2,
h3 {
  text-align: center;
}
body {
  flex-direction: column;
}
body,
.form-container,
.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.body-container {
  flex: 1 0 auto;
}
.hidden {
  position: absolute;
  left: -9999px;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
}
h2 span {
  font-style: italic;
  font-size: 0.8em;
}

/*Header*/
header {
  line-height: 1;
  width: 25%;
}
header h1 {
  background: -webkit-linear-gradient(#2190e3, #3a55b4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.7em;
  text-align: left;
}

/*Search*/
/*Search*/
#search {
  font-size: 16px;
  border: 1px solid #DDD;
  height: 36px;
  text-align: center;
  width: 300px;
}
#search:focus {
  border: 1px solid #CCC;
}
input[type="radio"], input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  background: url(/assets/images/reset.PNG) no-repeat right center;
  position: relative;
  right: 5px;  
  height: 15px;
  width: 15px;
  background-size: 15px;
  cursor: pointer;
}

/*Form*/
label {
  font-weight: 400;
}
.hidden {
  position: absolute;
  left: -9999px;
}
button,
input[type="button"] {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 90%;
}
#searchbar > div {
  display: inline-block;
  position: relative;
  top: 3px;
  left: -125px;
}
#searchbar > div input[type="radio"] {
  position: absolute;
  left: -9999px;
}
#searchbar > div > [type="radio"] + label,
[type="radio"]:not(:checked) + label {
  color: #6caddf;
  font-size: 1.5em;
  z-index: 1;
  margin-left: 10px;
}
#searchbar > div > [type="radio"]:checked + label,
[type="radio"]:hover:not(:disabled) + label {
  color: #2190e3;
}
#search input[type="text"],
#search input[type="button"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
}

/*Login/Sign-Up*/
#download {
  text-align: center;
}
#download .flex-container {
  justify-content: center;
}
.signup,
.login {
  background-color: #fafafa;
}
#sign-up a,
a#sign-up {
  border-bottom: 0.75px solid #2d75cd;
}
#sign-up a:hover,
a#sign-up:hover {
  color: #000;
  border-bottom: 0.75px solid #2d75cd;
}
.form-container div {
  margin-right: 50px;
  min-width: 300px;
}
.form-container input {
  width: 100%;
}
button,
input[type="button"] {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 90%;
}
#sign-up input,
#login input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.9px solid #c3c3c3;
  font-size: 1em;
  font-weight: 300;
}
body
  > div
  > div.flatpickr-innerContainer
  > div
  > div.flatpickr-days
  > div
  > span.flatpickr-day.selected {
  background: #2d75cd;
  border: 0;
}
body > div > div.flatpickr-months > div > div > select,
body > div > div.flatpickr-months > div > div > div > input,
select {
  font-size: 0.85em !important;
}
#sign-up button[type="submit"] {
  padding: 10px 38px;
  font-size: 1em;
  border: 1px solid #2d75cd;
  border-radius: 30px;
}
#sign-up button[type="submit"]:hover {
  background: #2d75cd;
  color: #fff;
}
button[type="submit"] + span {
  font-weight: 300;
  margin-left: 15px;
}

/*Form Input*/
.input {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input input[type="radio"]:checked ~ .checkmark, .input:hover input[type="radio"] ~ .checkmark {
  background-color: #96C8DA;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.input input:checked ~ .checkmark:after, .input input:hover ~ .checkmark:after {
  display: block;
}
.radio .checkmark {
  border-radius: 50%;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #96C8DA;
}
.radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.checkbox .checkmark {
  width: 15px;
  height: 15px;
}
.checkbox .checkmark:after {
  font-weight: 300;
  left: 4px;
  top: 0;
  width: 4px;
  height: 8.5px;
  border: solid #96C8DA;
  border-width: 0 2.8px 2.8px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ui.selection.dropdown {
  font-weight: 400;
  width: 200px;
  background: transparent;
}

/*Login*/
.login-container,
.signup-container {
  background: #fff;
  border: 1px solid #ccc;
  margin: 0 auto;
}
#sign-up,
#login label,
#password {
  font-weight: 400;
}
.login-options > * {
  float: right;
}
.login-options p {
  margin-top: 15px;
}

/*Main*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f6fa;
}
main {
  width: 92%;
  margin: 50px auto auto auto;
}

/*User Profile*/
#friend-search::-webkit-search-cancel-button {
  height: 14px;
  width: 14px;
  background-size: 14px;
  right: 7px;
}
.user {
  background: #F4F6FA;
  color: var(--main-color);
  flex: 75%; 
  padding: 20px 0 20px 40px;
}
aside a {
  display: block;
  padding: 15px;
}
aside h3 {
  font-weight: 500;
}
section h3 {
  text-align: left;
}
.bio {
  margin-left: 40px; 
  line-height: 2; 
  width: 80%;
}
.bio .flex-container {
  justify-content: space-between; 
  width: 200px; 
  margin-top: 10px;
}
#interests {
  margin-top: 30px;
}
h3, h4 {
  font-weight: 400;
}
#interests ul {
  list-style: none;
  margin-top: 15px;
}
#interests ul li {
  border: 1px solid #CAD6E6;
  border-radius: 16px;
  padding: 4.5px 0;
  margin-bottom: 20px;
  margin-right: 20px;
  min-width: 150px;
  text-align: center;
  display: flex;
  cursor: pointer;
  transition: .2s;
}
#interests ul li:hover {
  transform: scale(1.1);
}
#shared li:before {
  font-weight: 900;
}
#description {
  font-style: italic;
}
#friend-search {
  border: 1px solid #26619C;
  border-radius: 15px;
  padding: 5px 0;
  text-indent: 10px;
  width: 180px;
}
.error {
  color: red;
  border-color: red !important;
}

/*Footer*/
footer {
  margin: 50px auto 30px auto;
}
footer > .flex-container {
  justify-content: space-between;
}
footer nav a {
  margin-right: 30px;
}